.page-header {
  position: relative;
  color:white;
  background-color: transparent;
}



.main-nav--opened .page-header__logo-block {
  border-bottom: 1px solid black;
}

.page-header__logo {
  display: inline-block;
  padding: 20px 23px;
  height: 69px;

  @media (min-width: $desktop-width){
    padding-left: 130px;
  }
}
