.page-header {
  position: relative;
  color:white;
  background-color: transparent;

  background-image: url("../img/bg-back-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: 700px 467px;

    @media (min-width: $mobile-size) and (min-resolution: 2dppx) {
      background-image: url("../img/bg-back-mobile@2x.jpg");
    }

    @media (min-width: $tablet-width){
      background-size: 1200px 729px;
      background-image: url("../img/bg-back-tablet@1x.jpg");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/bg-back-tablet@2x.jpg");
      }
      // top: -80px;
    }
    @media (min-width: $desktop-width){
      background-size: 2560px 853px;
      // background-size: cover;

      background-image: url("../img/bg-back-desktop@1x.jpg");
      @media (min-resolution: 2dppx) {
        background-image: url("../img/bg-back-desktop@2x.jpg");
      }
    }
}


.main-nav--opened .page-header__logo-block {
  border-bottom: 1px solid black;
}

.page-header__logo {
  display: inline-block;
  padding: 20px 23px;
  height: 69px;
  cursor: pointer;


  @media (min-width: $desktop-width){
    padding-left: 130px;
  }

   &:hover > svg,
   &:focus > svg {
      color: $basic-pink;
      fill: $basic-pink;
    }

    &:active > svg{
      opacity: 0.3;
    }
}


.page-header__title {
  @include reset;
  font-family: 'OpenSans';
  height: 170px;
  margin: 0 auto;
  padding-top: 36px;

  font-weight: 200;
  font-size: 24px;
  line-height: 33px;
  text-align: center;


  @media (min-width: $tablet-width){
    height: 330px;
    padding-top: 81px;
    font-weight: 300;
    font-size: 40px;
  text-align: center;

    line-height: 120%;
  }

  @media (min-width: $desktop-width){
    padding-top: 74px;

    height: 284px;
    font-weight: 300;
    font-size: 50px;
    line-height: 68px;
  }
}