.page-header {
  position: relative;
  background-color: $basic-blue;
  color:white;
}

.page-header__logo {
  display: block;
  height: 69px;
  width: 100%;
  padding: 20px 23px;
  border-bottom:1px solid black;
}
