
.upload__title {
  max-width: 430px;
  padding: 0 20px;
  margin: 0 auto;
  margin-bottom: 52px;

  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: #283645;

  @media (min-width: $tablet-width){
    margin-bottom: 78px;

    font-size: 18px;
  }

  @media (min-width: $desktop-width){
    margin-bottom: 75px;
  }
}