.slider {
  position: relative;
  display: block;
  overflow: hidden;
  z-index: 1;

  @media (min-width: $desktop-width){
    max-width: 960px;
    margin: 0 auto;
  }
  // @include border-help(2px, rgb(23, 13, 101));
}

.slider__list {
  $slider__count: 3;

  display: flex;
  flex-shrink: 0;
  width: calc(100% * $slider__count);
  transition: all 0ms ease 0s;
  transform: translate3d(1px, 0px, 0px);
}


.slider__item {
  scroll-snap-align: start;
  margin: 0;
  margin-bottom: 50px;
  padding: 0 20px;
  width: 100%;
  // @include border-help(15px, red);
}

.slider_toggles {
  display: block;
  margin: 0 auto;


}

.slider__toggle {
  padding: 0;
  margin-left: 19px;
  width: 6px;
  height: 6px;
  background-color: rgb(142, 131, 131);
  border: none;
  border-radius: 50%;

  &--current {
    border: 3px solid #283645;
    width: 9px;
    height: 9px;
    background-color: white;
  }
}

.slider__btn {
  display: none;

  @media (min-width: $desktop-width){
    position: absolute;
    display: block;
  }
}

.slider__btn {
  // @include border-help(2px, rgb(23, 13, 101));
  position: absolute;
  background-color: white;
  border: 0;
  cursor: pointer;
  width: 50px;
  height: 100%;
  top: 0;

  // opacity: 0.3;
// z-index: 1;
  &:hover {
    opacity: 1;
  }

  &--prev,
  &--next {
    left: 0;

    &::after,
    &::before {

      position: absolute;
      content: "";
      width: 22px;
      height: 2px;
      left: 13px;
      background-color: #283645;
      opacity: 0.3;
      border-radius: 0  2px 2px 0;
      z-index: 100;
    }

    &::after {
      top: 184px;

    }
    &::before {
      top: 169px;

    }
  }

  &--prev {
    &::after {
      rotate: 45deg;
    }

    &::before {
      rotate: -45deg;
    }
  }

  &--next {
    left: 910px;

    &::after {
      rotate: -45deg;
    }

    &::before {
      rotate: 45deg;
    }
  }
}


.slider__img {
  display: none;

  @media (min-width: $desktop-width){
  // @include border-help(2px, rgb(23, 13, 101));
    width: 78px;
    height: 64px;
    display: inline-block;
    margin: 0 auto;
    left: 430px;
    top: 10px;
    // right: 0;
    position: absolute;
    margin-bottom: 58px;
    fill: rgb(239, 239, 239);

    background-image: url('../img/icon-quotes.svg');
    background-repeat: no-repeat;
  }
}