
@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin reset {
  margin: 0;
  padding: 0;
}

@mixin border-help($size, $color) {
  outline: $color solid $size;
  outline-offset: -5px;
}

@mixin minus-margin-all {
  @media (max-width: $mobile-width-only){
    margin-left: -$margin-mobile;
    margin-right: -$margin-mobile;
  }

  @media (min-width: $tablet-width){
    margin-left: -$margin-tablet;
    margin-right: -$margin-tablet;
  }

  @media (min-width: $desktop-width){
    margin-left: -$margin-desktop;
    margin-right: -$margin-desktop;
  }
}