$basic-blue: #283645;
$basic-pink: #D22856;
$basic-grey: #F2F2F2;

$mobile-size: 320px;
$mobile-width-only: 659px;
$tablet-width: 660px;
$tablet-size-only: 1199px;
$desktop-width: 1200px;

$margin-mobile: 20px;
$margin-tablet: 20px;
$margin-desktop: 110px;
